
      <div class="modal-body">
        <h3> Szczegóły leczenia</h3>
        {% if edit %}
        <form method="post" class="edit_healing_form" action="{% url 'edit_healing' form.instance.id  %}" name="my_form">{% csrf_token %}
          {% else %}
        <form method="post" class="new_healing_form" action="{% url 'add_healing' td_id  %}" name="my_form">{% csrf_token %}
          {% endif %}

          {{ form.non_field_errors }}
           <div class="fieldWrapper">
          {{ form.status.errors }}
          {{ form.side.errors }}
          {{ form.tooth.errors }}
          <label for="id_type_of">Rodzaj leczenia:</label>
          {{ form.type_of }}
          <label for="id_about_healing">Opis przebiegu leczenia:</label>
          {{ form.about_healing }}
          <label for = "id_date_of_fixing">Data leczenia:</label>
          {{form.date_of_fixing}}
          {{form.tooth_destructions}}
    </div>
          <button class="btn aqua-gradient btn-block my-4 " type="submit">Zapisz</button>
  </form>
        
      </div>      
