{% extends 'base.html' %}


{% block content %}
<style type='text/css'>
.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}
</style>
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'calendar' %}"> Kalendarz </a>
</div>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="form form-table">
{{form}}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Zatwierdź </button></td></tr>
  </table>
</form>
{% endblock %}